<div class="container">
  <div class="contacts-container">
    <div>Companies Admin</div>
    <app-button
      label="Add New Company"
      (onClick)="openNewContactForm()"
    ></app-button>
  </div>
  <div>
    <app-box>
      <mat-table [dataSource]="dataSource">
<!--        matSort (matSortChange)="announceSortChange($event)"-->
        <!-- Company Admin uuid Definition -->
        <ng-container matColumnDef="uuid">
          <mat-header-cell *matHeaderCellDef>UUID</mat-header-cell>
<!--          mat-sort-header sortActionDescription="Sort by name"-->
          <mat-cell *matCellDef="let row">
            {{row.uuid}}
            <app-copy-clipboard
              [url]="row.uuid"
              (copied)="copySuccess()"
            ></app-copy-clipboard>
          </mat-cell>
        </ng-container>

        <!-- Company Admin name Definition -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Company Admin owner Definition -->
        <ng-container matColumnDef="owner">
          <mat-header-cell *matHeaderCellDef>Owner</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.owner}} </mat-cell>
        </ng-container>

        <!-- Company Admin createdBy Definition -->
        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef>Created By</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdBy}} </mat-cell>
        </ng-container>

        <!-- Company Admin createdDate Definition -->
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.createdDate}} </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
<!--      <mat-paginator [pageSizeOptions]="[50, 100, 200, 500]"-->
<!--                     showFirstLastButtons-->
<!--                     aria-label="Select page of periodic elements">-->
<!--      </mat-paginator>-->
    </app-box>
  </div>
</div>
<app-dialog-side
  *ngIf="openNewContactDialog"
  [dialogTitle]="'auth.login.rememberMe'"
  (clickClose)="closeNewContactForm()"
>
  <div class="newContact-form-container">
    <app-input
      label="Name"
      [(ngModel)]="name"
    ></app-input>
    <app-input
      label="Lastname"
      [(ngModel)]="lastname"
    ></app-input>
    <app-input
      label="Email"
      [(ngModel)]="email"
    ></app-input>
    <app-input
      label="Telefono"
      [(ngModel)]="telefono"
    ></app-input>
    <app-input
      label="Movil"
      [(ngModel)]="movil"
    ></app-input>
    <app-input
      label="Tipo de contacto"
      [(ngModel)]="type"
    ></app-input>
    <div>
      <app-button label="Crear" (onClick)="createNewContact()"></app-button>
    </div>
  </div>
</app-dialog-side>
