@import 'src/styles/variables.scss';

.container {
  background-color: $background-white;
  top: 0;
  position: absolute;
}

.container-dark {
  background-color: $background-dark;
}

.main-container {
  height: 100vh;
  margin-left: 80px;
  top: 0;
  position: absolute;
}
